<table class="table">
<thead class= "table-dark">
<tr>
<th scope="col"><strong>Plant name:</strong>
</th>
<th scope="col"><strong>Country name:</strong>
</th>
<th scope="col"><strong>Height:</strong></th>
</tr>
</thead>

<div id="<%= dom_id plant %>">


<tbody>


<tr>
<td> <%= plant.plant_name %> </td> 
<td><%= plant.country_name %></td> 
<td> <%= plant.height %></td> 
</tr>
</tbody>

</div>

</table>
